.advantages {
  background-color: @white;
}

.advantages__list {
  .list-reset();
}

.advantages__item {
  &--blue {
    background-color: @blue;
    color: @white;
  }

  &--grey {
    background-color: #eeeeee;
    color: @black;
  }

  &--bordered {
    border-top: 1px solid #d6d6d6;
  }
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  margin: 0;
}

.advantages__number {
  font-size: 14px;
  line-height: 21px;
}

.advantages__description {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}

.advantages__photo {
  background-color: @white;
}

.advantages__sublist {
  .list-reset();
}

.advantages__subitem {
  background-color: @white;
  color: @black;
}

.advantages__subtitle {
  margin-top: 0;
  font-weight: 700;
  font-size: 18px;
}

.advantages__subdescription {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__info {
    width: 100%;
  }

  .advantages__item {
    display: flex;
    flex-wrap: wrap;

    &--blue {
      width: 100%;

      .advantages__info {
        width: calc(100% / 3);
      }
    }

    &--grey {
      width: calc(100% / 3);
    }

    &--revers {
      flex-direction: row-reverse;
    }

    &--bordered {
      border: 0;
    }
  }

  .advantages__photo {
    width: calc(100% * 2 / 3);
  }

  .advantages__sublist {
    width: 100%;
    display: flex;
  }

  .advantages__subitem {
    width: calc(100% / 3);
  }
}
