.hotel-search {
  padding-top: 38px;
  padding-bottom: 8px;
}

.hotel-search__map-image {
  background-color: #f2f1ec;
  display: block;
}

.hotel-search__lead {
  font-weight: 700;
}

.hotel-search__button {
  padding: 16px 49px;
}
