.intro {
  padding-bottom: 32px;
}

.intro__wrapper {
  background-color: #bfced7;
}

.intro__title {
  font-weight: 700;
  font-size: 18px;
}

.intro__text {
  font-size: 14px;
  line-height: 21px;
}
