.modal-content {
  &--error {
    padding: 45px 42px 35px;
  }

  &--success {
    padding: 39px 38px 0;
  }
}

.modal-content__title {
  font-size: 21px;
  font-weight: 700;
}

.modal-content__text {
  font-size: 18px;
}

.modal-content__close-button {
  &--error {
    padding: 16px 64px;
  }

  &--success {
    padding: 16px 62px;
  }
}
