.page-footer {
  background-color: @white;
  padding: 33px 0;
}

.page-footer__hashtag {
  font-weight: 700;
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    padding: 33px 60px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    padding: 33px 120px;
  }
}
