.page-nav {
  background-color: @white;
  min-height: 56px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

@media (min-width: @tablet-width) {
  .page-nav {
    display: block;
  }

  .page-nav__toggle {
    display: none;
  }
}
