.page__body {
  font-family: "PT Sans", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 400;
  color: @black;
  background-color: #e7e5e5;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  @media screen and (min-width: @desktop-width) {
    padding: 0 40px;
  }
}

.page__wrapper {
  background-color: @white;
  position: relative;
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}
