.review-form__fieldset {
  padding-top: 24px;
  border: none;
  border-top: 1px solid #e5e5e5;
}

.review-form__title {
  font-weight: 700;
  font-size: 18px;
}

.review-form__input-list {
  .list-reset();
}

.review-form__label-text {
  font-size: 14px;
  line-height: 21px;
}

.review-form__input-text {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  background-color: #f2f2f2;
  border: none;
}

.review-form__text-radio {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
}

.review-form__text-checkbox {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
}

.review-form__textarea {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  background-color: #f2f2f2;
  border: none;
}

.review-form__submit-button {
  font-size: 21px;
  padding: 16px 49px;
}

.review-form__notes {
  font-size: 12px;
  line-height: 21px;
  text-transform: none;
  color: rgba(51, 51, 51, 0.6);
}

@media (min-width: @tablet-width) {
  .review-form {
    display: flex;
    flex-wrap: wrap;
  }

  .review-form__fieldset {
    border: 0;
    margin: 0;
    width: 100%;

    &--w50 {
      width: 50%;
    }

    &--bordered {
      box-sizing: border-box;
      border-right: 1px solid #e5e5e5;
    }
  }

  .review-form__radio-list,
  .review-form__checkbox-list {
    display: flex;
    flex-wrap: wrap;
  }

  .review-form__radio-item,
  .review-form__checkbox-item {
    width: 50%;
  }

  .review-form__footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .review-form__radio-item,
  .review-form__checkbox-item {
    width: auto;
  }
}
