.video-gallery {
  padding: 17px 20px 0;
  border-top: 1px solid #e5e5e5;
}

.video-gallery__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.video-gallery__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
